<div class="row mt-4">
  <div class="col-12">
    <h2 class="text-center mb-4">Market Summary</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card bg-dark text-white h-100">
          <div class="card-body">
            <h3 class="card-title">Market Overview</h3>
            <div>
              <div class="mb-3">
                <h4>Total Market Cap (USD)</h4>
                <p>{{ totalMarketCap | number : "1.2-2" }}</p>
              </div>
              <div class="mb-3">
                <h4>Market Cap Change (24h)</h4>
                <p>{{ marketCapChange | number : "1.2-2" }}%</p>
              </div>
              <div>
                <h4>Total Volume (USD)</h4>
                <p>{{ totalVolume | number : "1.2-2" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
